__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/
*.so
.pytest_cache/
.ruff_cache/
.mypy_cache/
.tox/
.venv/
venv/
*.whl

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# macOS
.DS_Store
